#root {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.mainScreen {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

footer {
  flex-shrink: 0;
}
